<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Example</title>
</head>
<body>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    // Axios가 로드된 후에 실행
    axios.get("/api/fbv/books/")
    .then((response) => {
        alert(JSON.stringify(response.data)); // 데이터를 문자열로 변환하여 표시
    })
    .catch((error) => {
        alert(JSON.stringify(error)); // 에러 객체를 문자열로 변환하여 표시
    })
    .then(() => {
        alert("무조건 수행");
    });
</script>

</html>